body {
	background-color: forestgreen;
}
p {
	background-color:antiquewhite;
	color:peru;
}
h1 {
	color: beige;
}
li {
	color: peru;
	background-color:antiquewhite;
}/* CSS Document */

img {
	border-radius: 10%;
	width: 200px;
	height: 200px;
}